body{
background-color: rgb(253, 91, 226);
margin: 0%;
font-size: 30%;
font-family:'Arial Narrow', sans-serif;
text-align: left;
border-bottom-color: rgb(177, 21, 73);
}

img{
    width: 40%;
    height: auto;
}

.eu-sou-a-Anna{
    font-family: fantasy;
    width: 25%;
    font-style: italic;
    color: rgb(109, 21, 68);
}

