body{
background-color: rgb(243, 84, 217);
margin: 0%;
font-size: 30%;
font-family:'Arial Narrow', sans-serif;
text-align: center;
border-bottom-color: rgb(177, 21, 73);
}

img{
    width: 40%;
    height: auto;
}

.eu-sou-a-Anna{
    font-family: fantasy;
    font-size: medium;
    font-style: italic;
}

